body{
    text-align: center;
    background-color:rgb(20, 220, 210);
    font-family: 'Noto Sans Mono', monospace;
}

.header_div
  {
  background:cadetblue;
  color:darkgoldenrod;
  }

  .header_div p{
    font-family: 'Ephesis', cursive;
    color:rgb(73, 0, 0);
    letter-spacing: 2px;
    font-size: 12px;
    font-weight: bold;
  }
  .main_div button{
    font-family: 'Noto Sans JP', sans-serif;
    margin-top: 30px;
    width: 130px;
    font-weight: bolder;
    letter-spacing: 3px;
  }
  .copy_right_footer{
   position: fixed;
   color:royalblue;
   bottom: 0;
   width: 100%;
   font-size: 18px;
   background-color:sienna;
   font-weight: bold;
   line-height: 3;
   text-align: center;
   text-shadow: 5px 5px 5px rgb(255, 0, 221)
}